/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

div#mc_embed_signup {
background: transparent;
clear: left;
font: 14px Helvetica,Arial,sans-serif;
}
div#mc_embed_signup .mc-field-group {
width: 50%;
margin: 0 auto;
}
div#mc_embed_signup .clear {
clear: both;
width: 120px;
margin: 0 auto;
}
.logo{
   margin: 0 auto;
}
input#mc_embed_signup .button{
   width: 100%;
}
form#mc_embed_signup{
   padding-left: 0px;
}
input::-webkit-input-placeholder{
   font-family: 'proxima-nova';
   color: #888888;
   text-align: center;
}
input:moz-placeholder{
   font-family: 'proxima-nova';
   color: #888888;
   text-align: center;
}
input::moz-placeholder{
   font-family: 'proxima-nova';
   color: #888888;
   text-align: center;
}
input:ms-input-placeholder{
   font-family: 'proxima-nova';
   color: #888888;
   text-align: center;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
